extends layout

block content

  include ../header/header

  include ../panel/subheader

  each noticia in noticias
    .row
      .col-md-12
        h2 #{noticia.titulo}
        p #{noticia.descripcion}
        a(href="#{noticia.enlace}") Ir a #{noticia.enlace}

        if noticia.owner_user.email
          p.well
            span #{noticia.owner_user.email} |
            span  #{noticia.owner_user.name} #{noticia.owner_user.surname} |
    hr